@import '../../sass/variable';

.user-choice {
    font-family: "Corben";
    font-weight: 500;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    h1 {
        color: $primary-color;
        margin-bottom: 1rem;
        font-size: 2rem;
        line-height: 2rem;
    }
}

.hidden-toggles {
    position: relative;
    border-radius: 999em;
    overflow: hidden;

    height: 2.75em;
    width: 20em;

    display: flex;
    flex-direction: row-reverse;

    margin-bottom: 1rem;

    >* {
        flex: 0 0 33.33%;
    }

    &:after {
        content: "";

        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;

        border: 0.125em solid $primary-active;
        border-radius: 999em;
        pointer-events: none;
    }
}

.hidden-toggles__input {
    display: none;

    &:checked+.hidden-toggles__label {
        background-color: $primary-active;
        color: $color-white;

        &:before {
            opacity: 1;
        }

        &:last-of-type {
            background: linear-gradient(90deg, $primary-active 0%, #EC2F4B 100%);
        }
    }

    &:nth-of-type(1)+label {
        order: 4
    }

    &:nth-of-type(2)+label {
        order: 3
    }

    &:nth-of-type(3)+label {
        order: 2
    }

    // &:nth-of-type(4)+label {
    //     order: 1
    // }

    // &:nth-of-type(1):checked,
    // &:nth-of-type(2):checked {
    //     ~label:last-of-type {
    //         margin-right: -33.33%;
    //     }
    // }
}

.hidden-toggles__label {
    display: flex;
    align-items: center;
    justify-content: space-around;

    position: relative;
    cursor: pointer;
    transition: all 0.2s ease-out;
    color: $primary-color;

    &:hover {
        color: $primary-active;
    }

    &:nth-of-type(2) {
        border-left: 0.125em solid $primary-active;
        border-right: 0.125em solid $primary-active;
    }

    // &:last-of-type {
    //     border-left: 0.125em solid $primary-active;
    // }
}