<div class="user-choice">
    <h1>View As:</h1>
    <div class="hidden-toggles">
				
        <input name="user_login_type" type="radio" id="user_guest" class="hidden-toggles__input" checked (change)="onUserChange($event)">
        <label for="user_guest" class="hidden-toggles__label">Guest</label>	
        
        <input name="user_login_type" disabled type="radio" id="user_student" class="hidden-toggles__input">
        <label for="user_student" class="hidden-toggles__label">Student</label>
        
        <input name="user_login_type" disabled  type="radio" id="user_admin" class="hidden-toggles__input">
        <label for="user_admin" class="hidden-toggles__label">Admin</label>
        
    </div>
    <button class="primary-btn" style="margin: 0;" (click)="gotoHomePage()">Go</button>
</div>