<section id="feature_section" class="card-section">
    <div class="card">
        Individual Mentoring
        <p>Personalized sessions provided based on the learning pace of each students.</p>
    </div>
    <div class="card">
        Exam Preparations
        <p>Crash courses and multiple revision tests conducted to ensure that each student is ready for their board
            exam.</p>
    </div>
    <div class="card">
        Parental Engagement
        <p>Parents are given constructive feedback from tutors.</p>
    </div>
    <div class="card">
        Recorded Lessons
        <p>Recorded lessons are available via the youtube channel thereby helping the students to revise each topic when
            required.</p>
    </div>
</section>
