<section class="stat-section">
    <div class="stat-container">
        <div class="stat-wrapper">
            <div class="stat-block">
                <div class="stat-count">100 <span style="font-size: 1.5rem;">+</span></div>
                <div class="stat-title">Students</div>
            </div>
            <div class="stat-block">
                <div class="stat-count">100 <span style="font-size: 1.5rem;">%</span></div>
                <div class="stat-title">Success Rate</div>
            </div>
            <div class="stat-block">
                <div class="stat-count">100 <span style="font-size: 1.5rem;">%</span></div>
                <div class="stat-title">Satisfaction</div>
            </div>
        </div>
    </div>
</section>
