@import '../../../../../sass/variable';
.footer {
    height: 4rem;

    .wrapper {
        display: flex;
        justify-content: space-around;
        align-items: center;
        width: 100%;
        height: 100%;
        background-image: linear-gradient(to bottom right, rgba($footer-color-1, 1), rgba($footer-color-2, 1));
        transition: all .4s ease-out;

        .wrapper__links {
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 50%;
            padding: 0 1rem;
        }
    }

    // .social-link {
    //     cursor: pointer;
    //     display: flex;
    //     align-items: center;
    //     justify-content: center;

    //     &--linkedin {
    //         color: #2d76b0;
    //     }

    //     &--instagram {
    //         color: #9a2970;
    //     }

    //     & .social-svg {
    //         width: 3rem;
    //         height: 3rem;

    //         & .social-group {
    //             &__icon {
    //                 fill: $color-black;
    //                 transition: all .2s;
    //             }

    //             &__inner-circle {
    //                 fill: transparent;
    //                 transition: all .2s;
    //             }

    //             &__outline {
    //                 stroke: $color-black;
    //                 transform-origin: 50% 50%;
    //                 transition: all .2s;
    //             }

    //         }

    //         &:hover,
    //         &:active,
    //         &:focus {
    //             & .social-group {
    //                 &__icon {
    //                     fill: $color-white;
    //                     transition: all .45s;
    //                 }

    //                 &__inner-circle {
    //                     fill: currentColor;
    //                     transition: all .45s;

    //                     &--instagram {
    //                         fill: url(#simpleInsta) !important;
    //                     }
    //                 }

    //                 &__outline {
    //                     stroke: currentColor;
    //                     transform: scale(1.1);
    //                     transition: all .45s;
    //                 }
    //             }
    //         }
    //     }
    // }
}

.wrapper__links {
    span {
        width: 3rem;
        height: 3rem;
        border-radius: 50%;
        background: white;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;

        img {
            height: 1.5rem;
        }

        &:hover {
            //    &:first-child {
            animation: icon-highlighter 0.7s linear infinite;
            // img {
            //     transform: scale(0.8);
            //     transition: all 0.3s linear;
            // }
            // }
        }
    }
}

@keyframes icon-highlighter {
    0% {
        transform: scale(1);
        width: 3rem;
        height: 3rem;
    }

    100% {
        transform: scale(1.1);
        width: 3rem;
        height: 3rem;
    }
}