<section id="add_new_student" class="section">
    <div class="section-header-wrap">
        <h2 class="section-header">Add New Student</h2>
    </div>
    <div class="section-content">
        <form action="#" novalidate="" class="form">
            <h3>Student Details</h3>
            <div class="row">
                <div class="form-group has-icon half-width-field">
                    <i class="fa fa-user-o"></i>
                    <label for="first_name" class="movable">First Name</label>
                    <input type="text" name="first_name" id="first_name" class="form-field required" />
                </div>
                <div class="form-group has-icon half-width-field">
                    <i class="fa fa-user-o"></i>
                    <label for="last_name" class="movable">Last Name</label>
                    <input type="text" name="last_name" id="last_name" class="form-field required" />
                </div>
            </div>
            <div class="row">
                <div class="form-group has-icon select dropdown-up fa-id-badge half-width-field">
                    <label for="class" class="movable">Class</label>
                    <select name="class" id="class" class="form-field required">
                        <option value="10" selected="">X</option>
                        <option value="11">XI</option>
                        <option value="12">XII</option>
                    </select>
                </div>
                <div class="form-group has-icon half-width-field">
                    <i class="fa fa-phone"></i>
                    <label for="phone_number" class="movable">Phone Number</label>
                    <input type="text" name="phone_number" id="phone_number" class="form-field required" />
                </div>

            </div>
            <div class="row">
                <div class="form-group has-icon full-width-field">
                    <i class="fa fa-envelope-o"></i>
                    <label for="email" class="movable">Email address</label>
                    <input type="email" name="email" id="email" class="form-field required email" />
                </div>
            </div>

            <div class="row">
                <div class="form-group has-icon full-width-field">
                    <i class="fa fa-comment-o"></i>
                    <label for="comment" class="movable">Comments, if any</label>
                    <textarea name="comment" id="comment" rows="6" class="form-field required"></textarea>
                </div>
            </div>
            <h3>Parent Details</h3>
            <div class="row">
                <div class="form-group has-icon half-width-field">
                    <i class="fa fa-user-o"></i>
                    <label for="father_name" class="movable">Father's Name</label>
                    <input type="text" name="father_name" id="father_name" class="form-field required" />
                </div>
                <div class="form-group has-icon half-width-field">
                    <i class="fa fa-user-o"></i>
                    <label for="mother_name" class="movable">Mother's Name</label>
                    <input type="text" name="mother_name" id="mother_name" class="form-field required" />
                </div>
            </div>

            <div class="row">
                <div class="form-group has-icon half-width-field">
                    <i class="fa fa-phone"></i>
                    <label for="gaurdian_phone_1" class="movable">Gaurdian Phone Number</label>
                    <input type="text" name="gaurdian_phone_1" id="gaurdian_phone_1" class="form-field required" />
                </div>
                <div class="form-group has-icon half-width-field">
                    <i class="fa fa-phone"></i>
                    <label for="gaurdian_phone_2" class="movable">Alternate Number</label>
                    <input type="text" name="gaurdian_phone_2" id="gaurdian_phone_2" class="form-field required" />
                </div>
            </div>
            <h3>School Details</h3>
            <div class="row">
                <div class="form-group has-icon half-width-field">
                    <i class="fa fa-graduation-cap"></i>
                    <label for="father_name" class="movable">School Name</label>
                    <input type="text" name="father_name" id="father_name" class="form-field required" />
                </div>
                <div class="form-group has-icon half-width-field">
                    <i class="fa fa-map-marker"></i>
                    <label for="mother_name" class="movable">Location</label>
                    <input type="text" name="mother_name" id="mother_name" class="form-field required" />
                </div>
            </div>

            <div class="row">
                <button class="submit-button">Submit</button>
            </div>
        </form>
    </div>
</section>
