<nav class="nav" id="nav_id" [ngClass]="{ 'mobile-nav open': mobileMenuOpened }">
    <div class="hamburger-wrapper">
        <span *ngIf="!mobileMenuOpened" class="menu-icon material-symbols-outlined" (click)="toggleSidebar()">
            menu
        </span>
        <span *ngIf="mobileMenuOpened" class="close-icon material-symbols-outlined" (click)="toggleSidebar()">
            close
        </span>
    </div>
    <div class="menu">
        <span (click)="scrollToElement('cover_page')">Home</span>
        <span (click)="scrollToElement('about_us')">About</span>
        <span (click)="scrollToElement('contact_us')">Contact</span>
    </div>
    <div class="action-wrapper">
        <button class="header-action-btn">Request Callback</button>
    </div>
</nav>
<div class="overlay" [ngClass]="{'opened' : mobileMenuOpened, 'closed': !mobileMenuOpened}" id="sidebar_overlay_id">
    <ul>
        <li><a href="#">Home</a></li>
        <li><a href="#">Works</a></li>
        <li><a href="#">About</a></li>
        <li><a href="#">Contact</a></li>
    </ul>
</div>