/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Corben:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Corben:wght@400;700&family=Dancing+Script:wght@400;500;600;700&display=swap');


$primary-font: 'Corben';
$secondary-font: 'Dancing Script';

$nav-color-1: #81c2de;
$nav-color-2: #4f92ac;
$footer-color-1: #81c2de;
$footer-color-2: #4f92ac;
$color-white: #FFFBFA;
$color-black: #191308;

$primary-color: #253753;

html,
body {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font-family: $primary-font;
    vertical-align: baseline;
}

body {
    background: rgba(96, 163, 189, 0.2588235294);
}

.section {
    padding: 1rem;

    .section-header {
        font-size: 2rem;
        color: $primary-color;
    }

    .section-content {
        display: flex;
        align-items: center;
        justify-content: space-between;
        box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
        background: $color-white;
        border-radius: 20px;
        padding: 2rem;
    }
}




.normal-text {
    font-size: 1rem;
    color: $primary-color;
    text-align: justify;
}

.form {
    box-sizing: border-box;
    max-width: 100%;
    // width: 100%;
    padding: 0 1rem;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 50vw;
    margin: 0 auto;

    .form-group {
        margin-top: 1.8rem;
        position: relative;
        min-height: 3rem;
        line-height: 3rem;
        // width: 100%;

        &.full-width-field {
            width: 100%;
        }

        &.half-width-field {
            width: 45%;
        }

        &.has-icon {

            .fa {
                display: block;
                position: absolute;
                top: 1rem;
                left: 1rem;
                z-index: 2;
                color: $footer-color-1;
                // color: $primary-color;
            }

            &::before {
                font-family: "FontAwesome";
                position: absolute;
                line-height: 3rem;
                top: 0;
                left: 0;
                width: 3rem;
                text-align: center;
                z-index: 2;
                color: darken($footer-color-1, 10%);
                pointer-events: none;
                transition: color 0.2s;
                animation: none;
            }

            &.checkbox,
            .form-field,
            label.movable {
                padding-left: 3rem;
            }
        }

        label.movable {
            position: absolute;
            pointer-events: none;
            top: 0;
            z-index: 2;
            height: 3rem;
            line-height: 3rem;
            color: darken($footer-color-1, 10%);
            padding: 0 1rem;
            font-size: 1rem;
            font-weight: 400;
            transition: all 0.2s;
        }

        label.movable:has(+ input:focus),
        label.movable:has(+ input:active),
        label.movable:has(+ input:visited) {
            top: -2.5rem;
            left: 0;
            padding-left: 0;
            color: $primary-color;
        }

        label.movable:has(+ textarea:focus),
        label.movable:has(+ textarea:active),
        label.movable:has(+ textarea:visited) {
            top: -2.5rem;
            left: 0;
            padding-left: 0;
            color: $primary-color;
        }

        // &.moved {
        //     &::before {
        //         color: $primary-color;
        //         animation: iconPinch 0.3s ease-in-out;
        //     }

        //     label.movable {
        //         top: -1.5rem;
        //         height: 1rem;
        //         line-height: 1.5rem;
        //         font-size: 0.8rem;
        //         font-weight: 600;
        //         padding-left: 0;

        //         &::after {
        //             content: ":";
        //         }
        //     }
        // }

        &.invalid {
            label {
                color: #e66051;
            }

            .error-message {
                transform: scale(1);
            }

            &::before {
                color: #e66051;
                animation: iconWiggle 0.4s ease-in-out;
            }

            .form-field {
                background: #fff5f5;
                border: 1px solid #e66051;

                &:focus {
                    box-shadow: 0 0 4px 3px fade(#e66051, 20%);
                }
            }
        }

        &.select {
            &::after {
                content: " ";
                position: absolute;
                right: 10px;
                border: 4px solid transparent;
                border-top-color: darken($footer-color-1, 10%);
                top: 50%;
                margin-top: -2px;
                z-index: 2;
                transition: border-top-color 0.2s;
            }

            .form-field {
                color: white;
                padding-right: 30px;
            }

            &.moved .form-field {
                color: inherit;
            }

            &.invalid::after {
                border-top-color: #e66051;
            }

            .dropdown {
                position: absolute;
                z-index: 4;
                top: 100%;
                margin-top: 2px;
                left: 5px;
                right: 5px;
                background: $footer-color-1;
                padding: 0;
                border-radius: 4px;
                transform-origin: 50% 0;
                transform: scale(0);
                transition: transform 0.2s;
                box-shadow: 0 2px 10px fade(black, 10%);
                padding: 5px 0;
                font-size: 0.9rem;
                line-height: 1.2rem;

                &::before {
                    content: " ";
                    position: absolute;
                    top: -12px;
                    border: 6px solid transparent;
                    border-bottom-color: $footer-color-1;
                    left: 50%;
                    margin-left: -6px;
                }

                &.open {
                    transform: scale(1);
                }

                li {
                    list-style: none;

                    a {
                        display: block;
                        padding: 10px 30px;
                        text-decoration: none;
                        color: #555;
                        transition: background-color 0.2s;
                        position: relative;

                        &:hover,
                        &:focus {
                            background: fade(white, 30%);
                            outline: none;
                        }

                        &.selected {
                            &::before {
                                content: " ";
                                position: absolute;
                                left: 15px;
                                top: 50%;
                                margin-top: -5px;
                                width: 4px;
                                height: 8px;
                                border: solid $primary-color;
                                border-width: 0 1px 1px 0;
                                transform: rotate(45deg);
                            }
                        }
                    }
                }
            }

            &.dropdown-up .dropdown {
                top: auto;
                bottom: 100%;
                margin-bottom: 2px;
                transform-origin: 50% 100%;

                &::before {
                    top: auto;
                    bottom: -12px;
                    border-top-color: $footer-color-1;
                    border-bottom-color: transparent;
                }
            }
        }



        .form-field {
            border: 1px solid darken($footer-color-1, 5%);
            transition-property: border, box-shadow;
            transition-duration: 0.2s;
            -webkit-appearance: none;
            -moz-appearance: none;
            //firefox specific - hide select arrow
            text-indent: 0.01px;
            text-overflow: "";

            //ie specific - hide select arrow
            &::-ms-expand {
                display: none;
            }

            option {
                color: black;
            }
        }

        .form-field,
        .form-submit {
            color: inherit;
            display: block;
            position: relative;
            z-index: 1;
            font-size: inherit;
            width: 100%;
            box-sizing: border-box;
            border-radius: 4px;
            background: white;
            padding: 12px 15px;
            min-height: 3rem;

            &:not(textarea) {
                height: 3rem;
                padding: 0 15px;
            }
        }

        input[type="checkbox"] {
            width: 16px;
            height: 16px;
            vertical-align: middle;
            -webkit-appearance: none;
            -moz-appearance: none;
            border: 1px solid #c8ccdf;
            line-height: 14px;
            text-align: center;
            border-radius: 4px;
            margin-right: 5px;
            color: #0a78f5;
            font-size: 12px;
            transition: all 0.2s;
            background: white;

            &::before {
                opacity: 0;
                transition: opacity 0.1s;
            }

            &:checked::before {
                opacity: 1;
            }
        }

        .form-field,
        input[type="checkbox"] {
            &:focus {
                box-shadow: 0 0 4px 3px fade($primary-color, 20%);
                border: 1px solid $primary-color;
                outline: none;
            }

            +label {
                color: darken($footer-color-1, 15%);
            }
        }

        .error-message {
            box-sizing: border-box;
            color: white;
            font-size: 0.8rem;
            line-height: 1.2rem;
            font-weight: 600;
            position: absolute;
            top: 100%;
            left: 5px;
            z-index: 3;
            margin-top: 2px;
            background: #e66051;
            max-width: calc(100% - 10px);
            padding: 5px 10px 5px 30px;
            border-radius: 4px;
            box-shadow: 0 2px 10px fade(black, 10%);
            transition: transform 0.2s;
            transform: scale(0);
            transform-origin: 18px 0;

            &::before {
                font-family: "FontAwesome";
                content: "\f057";
                position: absolute;
                top: 5px;
                left: 12px;
                cursor: pointer;
            }

            &::after {
                content: " ";
                position: absolute;
                border: 6px solid transparent;
                border-bottom-color: #e66051;
                top: -12px;
                left: 10px;
            }
        }

        .form-submit {
            background: $primary-color;
            color: white;
            font-weight: 600;
            font-size: 1.2rem;
            border: 0;
            transition: all 0.2s;
            cursor: pointer;

            &:hover {
                background: darken($primary-color, 10%);
                transform: translateY(-2px);
            }

            &:active {
                transform: translateY(0);
            }
        }
    }
}

.row {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.submit-button {
    width: 10rem;
    height: 3rem;
    margin: 0 auto;
    border: 0;
    background: $primary-color;
    color: $color-white;
    cursor: pointer;
    border-radius: 1.5rem;
    margin-top: 1.8rem;
    font-size: 1.5rem;
    font-weight: 700;

    &:hover {
        transform: scale(1.05);
    }
}

.carousel-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;

    .carousel-images {
        height: 70vh;
        display: flex;
        align-items: center;
        justify-content: center;

        // animation: carousel-anim 10s linear infinite;

        //         scroll-snap-type: x mandatory;
        //   scroll-behavior: smooth;
        //   -webkit-overflow-scrolling: touch;

        .carousel-image {
            height: 100%;
            animation: carousel-anim 1s 1 ease-out forwards;
        }
    }

    .carousel-nav {
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        background: #515151;
        opacity: 1;
        border-radius: 1rem;
        padding: 0 1rem;

        position: absolute;
        bottom: 1rem;
        opacity: 0.8;

        .nav-btn {
            display: flex;
            align-items: center;
            justify-content: center;
            cursor: pointer;
        }

        .material-symbols-outlined {
            color: $color-white;
            font-size: 2rem;
            border-radius: 50%;
            width: 2rem;
            height: 2rem;
            display: block;

            &:hover {
                background: #60a2bd;
            }
        }

        .image-thumbnail {
            display: flex;
            align-items: center;
            justify-content: space-between;
            min-width: 6rem;
            margin: 0 3rem;

            .slider-thumb {
                width: 1rem;
                height: 1rem;
                border-radius: 50%;
                border: 1px solid $color-white;
                cursor: pointer;

                &:hover {
                    background: #62a4bf;
                }

                &.active {
                    background: $color-white;
                }
            }
        }
    }


}

@keyframes carousel-anim {
    0% {
        margin-left: 100%;
    }

    100% {
        margin-left: 0%;
    }

    // 0% {
    //     left: -100px;
    //     right: 0;
    //     // width: 100%;
    // }
    // 100% {
    //     left: 0;
    //     right: -100px;
    //     // width: 100%;
    // }
    //     0%,
    //   23% {
    //     transform: translate3d(0,0,0);
    //   }
    //   25%,
    //   48% {
    //     transform: translate3d(-25%,0,0);
    //   }
    //   50%,
    //   73% {
    //     transform: translate3d(-50%,0,0);
    //   }
    //   75%,
    //   98% {
    //     transform: translate3d(-75%,0,0);
    //   }
    //   100% {
    //     transform: translate3d(0,0,0);
    //   }

    // 0% {
    //     transform: translateX(0px);
    // }

    // 20% {
    //     transform: translateX(0px);
    // }

    // 25% {
    //     transform: translateX(-200px);
    //     opacity: 1;
    // }

    // 30% {
    //     transform: translateX(-200px);
    //     opacity: 0;
    // }

    // 90% {
    //     transform: translateX(200px);
    //     opacity: 0;
    // }

    // 95% {
    //     transform: translateX(200px);
    //     opacity: 1;
    // }

    // 100% {
    //     transform: translateX(0px);
    //     opacity: 1;
    // }
}

@media (max-width: 801px) {



    .form {
        margin: 0;
        width: 100%;

        .row {
            flex-direction: column;
        }

        .form-group.half-width-field {
            width: 100%;
        }
    }

    .carousel-wrapper {
        margin-bottom: 2rem;

        .carousel-images {
            height: 65vw;
            margin-top: 1.5rem;

            .carousel-image {}
        }

        .carousel-nav {
            bottom: -3.5rem;
        }
    }
}







.primary-btn {
    width: 10rem;
    height: 3rem;
    margin: 0 auto;
    border: 0;
    background: $primary-color;
    color: $color-white;
    cursor: pointer;
    border-radius: 1.5rem;
    margin-top: 1.8rem;
    font-size: 1.5rem;
    font-weight: 700;

    &:hover {
        transform: scale(1.05);
    }
}

  