<section id="about_us" class="about-us-section">
    <div class="about-us-content">
        <div class="left">
            <img src="assets/ceo.png" alt="">
        </div>
        <div class="right">
            <h1 class="title">Let's make Math interesting</h1>
            <ul class="feature-ul">
                <li>For classes X, XI & XII</li>
                <li>For Kerala State, CBSE & ICSE Boards</li>
            </ul>
            <p class="paragraph">
                Our unconventional and interative teaching mechanism ensure that students are able to grasp all concepts
                and eliminates the fear of formulas and numbers.
            </p>
        </div>
    </div>
</section>
