$primary-font: 'Corben';
$secondary-font: 'Dancing Script';

$nav-color-1: #81c2de;
$nav-color-2: #4f92ac;
$footer-color-1: #81c2de;
$footer-color-2: #4f92ac;
$color-white: #FFFBFA;
$color-black: #191308;

$primary-color: #253753;
.youtube-content {
    .video-container {
        display: grid;
        grid-template-columns: repeat(2, calc(50% - 0.5rem));
        gap: 1rem;
        grid-template-rows: repeat(2, 30vh);
        padding: 0;
        border-radius: 16px;
        box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
        width: 60%;
    }

    .youtube-thumbnail {
        position: relative;
        width: fit-content;
        height: 100%;
        object-fit: cover;
        box-shadow: 0 0 0 #0000;
        opacity: 0.67;
        transition: all 0.15s cubic-bezier(0.3, 0.1, 0.3 0.85);

        &:nth-child(1) {
            border-radius: 10px 0 0 0;
        }

        &:nth-child(2) {
            border-radius: 0 10px 0 0;
        }

        &:nth-child(3) {
            border-radius: 0 0 0 10px;
        }

        &:nth-child(4) {
            border-radius: 0 0 10px 0;
        }

        &:hover {
            z-index: 1;
            transform: scale(1.05);
            border-radius: 5px;
            box-shadow: 1em 1em 1em #0004;
            filter: sepia(0%) hue-rotate(0deg);
            opacity: 1;
            transition: all 0.3s cubic-bezier(0.3, 0.1, 0.3, 0.85);
        }

        img {
            border: 2px solid black;
            border-radius: 10px;
            height: 100%;
        }
    }

    .youtube-details {
        width: 40%;
        min-height: calc(60vh);
        align-items: flex-end;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 1rem 1rem 1rem 3rem;

        .youtube-btn {
            font-size: 1rem;
            border: 0;
            padding: 0.75rem 1.5rem;
            display: flex;
            align-items: center;
            justify-content: space-between;
            border-radius: 1.25rem;
            cursor: pointer;
            border: 1px solid #304c68;

            i {
                color: red;
                margin-right: 0.5rem;
            }
        }
    }


}
@media (max-width: 801px) {  
    .youtube-content {
        flex-direction: column;
        padding-bottom: 0;
        width: 70vw;
        margin: 0 auto;

        .video-container {
            width: 100%;
            grid-template-rows: repeat(2, 10rem);
        }

        .youtube-details {
            width: 100%;
            display: block;
            padding-left: 0;
            padding-bottom: 0;
            
            height: auto;
            min-height: unset;
    
            .youtube-btn {
                margin: 2rem auto;
            }
    
            .normal-text {
                margin-top: 0;
                margin-bottom: 2rem;               
            }
        }
    }
}