<section id="youtube_section" class="section">
    <div class="section-header-wrap">
        <h2 class="section-header">Youtube Videos</h2>
    </div>
    <div class="section-content youtube-content">
        <div class="video-container">
            <!-- <iframe class="iframe" width="560" height="315" src="https://www.youtube.com/embed/6RX2ZCmAxvg"
                title="YouTube video player" frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen></iframe>
            <iframe class="iframe" width="560" height="315" src="https://www.youtube.com/embed/UUpGHxV0CGU"
                title="YouTube video player" frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen></iframe>
            <iframe class="iframe" width="560" height="315" src="https://www.youtube.com/embed/rEWIAL7aC6I"
                title="YouTube video player" frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen></iframe> -->
            <!-- <iframe width="560" height="315" src="https://www.youtube.com/embed/2NLfr3q5d0E?controls=0"
                title="YouTube video player" frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen></iframe> -->
            <a class="youtube-thumbnail" target="_blank" href="https://www.youtube.com/watch?v=6RX2ZCmAxvg">
                <img alt="..." class="card-img-top" src="https://i.ytimg.com/vi/6RX2ZCmAxvg/mqdefault.jpg">
            </a>
            <a class="youtube-thumbnail" target="_blank" href="https://www.youtube.com/watch?v=IRy9exfckW4">
                <img alt="..." class="card-img-top" src="https://i.ytimg.com/vi/IRy9exfckW4/mqdefault.jpg">
            </a>
            <a class="youtube-thumbnail" target="_blank" href="https://www.youtube.com/watch?v=mKLG8e2ygeE">
                <img alt="..." class="card-img-top" src="https://i.ytimg.com/vi/mKLG8e2ygeE/mqdefault.jpg">
            </a>

            <a class="youtube-thumbnail" target="_blank" href="https://www.youtube.com/watch?v=1xB6nQa7H8Y">
                <img alt="..." class="card-img-top" src="https://i.ytimg.com/vi/1xB6nQa7H8Y/mqdefault.jpg">
            </a>
        </div>
        <div class="youtube-details">
            <button class="youtube-btn" (click)="goToLink('https://www.youtube.com/@ANTONYRAJUMATHCLASSESARM')">
                <i class="fa fa-youtube-play"></i>
                Visit Channel
            </button>
            <p class="normal-text">In this channel the concepts of maths explained in the simple manner. Understand
                Maths easily and Learn
                it like solving Puzzles.</p>
            <p class="normal-text">You can use this channel to prepare for competitive exams and for preparing your
                academic sessions.</p>
        </div>
    </div>

</section>