<div class="page-header">
    <nav class="nav admin-header" id="nav_id">
        <div class="hamburger-wrapper">
            <span class="menu-icon material-symbols-outlined" (click)="showSidebar(sidebarContent)">
                menu
            </span>
        </div>
        <div class="action-wrapper">
            <button class="btn secondary header-btn">Button</button>
        </div>
    </nav>
</div>
<div class="page-layout">
    <div class="page-content">
        <router-outlet></router-outlet>
    </div>
</div>
<ng-template #sidebarContent let-offcanvas>
    <div class="offcanvas-header">
        <h4 class="offcanvas-title" id="offcanvas-basic-title">Admin Profile</h4>
        <span class="close-icon material-symbols-outlined" aria-label="Close"
            (click)="offcanvas.dismiss('Cross click')">
            close
        </span>
    </div>
    <div class="offcanvas-body">
        <ul class="sidebar-ul">
            <li class="sidebar-li">
                <div class="menu-name-icon">
                    <span class="material-symbols-outlined menu-icon">
                        home
                    </span>
                    Dashboard
                </div>

            </li>
            <li class="sidebar-li" (click)="listMenuCollapse.toggle()">
                <div class="menu-name-icon">
                    <span class="material-symbols-outlined menu-icon">
                        list
                    </span>
                    List
                </div>
                <span *ngIf="isListMenuCollapsed" class="material-symbols-outlined arrow-icon">
                    expand_more
                </span>
                <span *ngIf="!isListMenuCollapsed" class="material-symbols-outlined arrow-icon">
                    expand_less
                </span>
            </li>
            <div class="sidebar-collapsible-menu-item" #listMenuCollapse="ngbCollapse"
                [(ngbCollapse)]="isListMenuCollapsed">
                <li class="sidebar-li" (click)="gotoStudentList()">
                    <div class="menu-name-icon">
                        <span class="material-symbols-outlined menu-icon">
                            person
                        </span>
                        Students
                    </div>

                </li>
                <li class="sidebar-li" (click)="gotoStudentList()">
                    <div class="menu-name-icon">
                        <span class="material-symbols-outlined menu-icon">
                            supervisor_account
                        </span>
                        Parents
                    </div>

                </li>
                <li class="sidebar-li" (click)="gotoStudentList()">
                    <div class="menu-name-icon">
                        <span class="material-symbols-outlined menu-icon">
                            supervisor_account
                        </span>
                        Enquiries
                    </div>

                </li>
            </div>
            <li class="sidebar-li" (click)="socialMediaMenuCollapse.toggle()">
                <div class="menu-name-icon">
                    <span class="material-symbols-outlined menu-icon">
                        public
                    </span>
                    Social Media
                </div>

                <span *ngIf="isSocialMediaMenuCollapsed" class="material-symbols-outlined arrow-icon">
                    expand_more
                </span>
                <span *ngIf="!isSocialMediaMenuCollapsed" class="material-symbols-outlined arrow-icon">
                    expand_less
                </span>
            </li>
            <div class="sidebar-collapsible-menu-item" #socialMediaMenuCollapse="ngbCollapse"
                [(ngbCollapse)]="isSocialMediaMenuCollapsed">

                <li class="sidebar-li" (click)="socialMediaMenuCollapse.toggle()">
                    <div class="menu-name-icon">
                        <span class="material-symbols-outlined menu-icon">
                            person
                        </span>
                        Youtube
                    </div>
                </li>
                <li class="sidebar-li" (click)="socialMediaMenuCollapse.toggle()">
                    <div class="menu-name-icon">
                        <span class="material-symbols-outlined menu-icon">
                            supervisor_account
                        </span>
                        Facebook
                    </div>

                </li>
                <li class="sidebar-li" (click)="socialMediaMenuCollapse.toggle()">
                    <div class="menu-name-icon">
                        <span class="material-symbols-outlined menu-icon">
                            supervisor_account
                        </span>
                        Instagram
                    </div>

                </li>
            </div>
            <li class="sidebar-li" (click)="galleryMenuCollapse.toggle()">
                <div class="menu-name-icon">
                    <span class="material-symbols-outlined menu-icon">
                        public
                    </span>
                    Gallery
                </div>
                <span *ngIf="isGalleryMenuCollapsed" class="material-symbols-outlined arrow-icon">
                    expand_more
                </span>
                <span *ngIf="!isGalleryMenuCollapsed" class="material-symbols-outlined arrow-icon">
                    expand_less
                </span>

            </li>
            <div class="sidebar-collapsible-menu-item" #galleryMenuCollapse="ngbCollapse"
                [(ngbCollapse)]="isGalleryMenuCollapsed">
                <li class="sidebar-li" (click)="galleryMenuCollapse.toggle()">
                    <div class="menu-name-icon">
                        <span class="material-symbols-outlined menu-icon">
                            person
                        </span>
                        Photos
                    </div>

                </li>
                <li class="sidebar-li" (click)="galleryMenuCollapse.toggle()">
                    <div class="menu-name-icon">
                        <span class="material-symbols-outlined menu-icon">
                            supervisor_account
                        </span>
                        Videos
                    </div>

                </li>
                <li class="sidebar-li" (click)="galleryMenuCollapse.toggle()">
                    <div class="menu-name-icon">
                        <span class="material-symbols-outlined menu-icon">
                            supervisor_account
                        </span>
                        Posts
                    </div>

                </li>
            </div>
        </ul>
    </div>
</ng-template>