@import url('https://fonts.googleapis.com/css2?family=Source+Serif+Pro:wght@600;700&display=swap');
@font-face {
    font-family: 'Gill Sans';
    src: url('assets/fonts/GillSans.eot');
    src: url('assets/fonts/GillSans.eot?#iefix') format('embedded-opentype'),
        url('assets/fonts/GillSans.woff2') format('woff2'),
        url('assets/fonts/GillSans.woff') format('woff'),
        url('assets/fonts/GillSans.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}